@font-face {
    font-family: "Poppins";
    src: url("asset/font/Poppins-Regular.ttf") format("ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "Poppins";
    src: url("asset/font/Poppins-Medium.ttf") format("ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: "Poppins";
    src: url("asset/font/Poppins-SemiBold.ttf") format("ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "Poppins";
    src: url("asset/font/Poppins-Bold.ttf") format("ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: "Poppins";
    src: url("asset/font/Poppins-ExtraBold.ttf") format("ttf");
    font-weight: 800;
  }
  @font-face {
    font-family: "Poppins";
    src: url("asset/font/Poppins-Black.ttf") format("ttf");
    font-weight: 900;
  }

  body{
    font-family: "Poppins";
    font-weight: 400;
    background-color: #f2f2f2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
  }

  /* navbar */
  .sticky-navbar{
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s; /* Animasi perubahan latar belakang */
  }
  
  /* FAQ */
  .accordion-button{
    background-color: #094067;
    color: white;
  }