/*=========== Root ===========*/
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
html,
body {
  font-family: "Poppins";
  font-weight: 400;
}
p {
  color: #5f6c7b;
}
@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Regular.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Medium.ttf") format("ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-SemiBold.ttf") format("ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Bold.ttf") format("ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-ExtraBold.ttf") format("ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Black.ttf") format("ttf");
  font-weight: 900;
}

/*=========== login &register ===========*/
.card-form {
  width: 100%;
}
.title-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.title-forms .title {
  color: #094067;
  font-size: 50px;
  font-weight: 600;
}
.underline {
  background-color: #094067;
  width: 110px;
  height: 2px;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputGroup button {
  width: 50%;
  background-color: #2d5174;
  color: white;
  font-size: 20px;
  border: none;
}
.inputGroup button:hover {
  background-color: #496f94;
  color: white;
}
.inputGroup p {
  width: 50%;
}
input {
  appearance: none;
  border-radius: 0;
}
.input {
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
  & + .input {
    margin-top: 1.5rem;
  }
}

.input-label {
  color: #8f9fad;
  position: absolute;
  top: 1.5rem;
  transition: 0.25s ease;
}

.input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #8f9fad;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
  &:focus,
  &:valid {
    outline: 0;
    border-bottom-color: #2d5174;
    & + .input-label {
      color: #2d5174;
      transform: translateY(-1.5rem);
    }
  }
}

/*=========== illustration login ===========*/
.illustration {
  background: url("../img/Illustration_bg.png");
  background-size: cover;
}
@media (max-width: 768px) {
  div.illustration {
    display: none !important;
  }
}
